.venv
config.yaml
activities.csv
athlete_profile.csv
runify/fitness_nn_model.pkl
.DS_Store
runify/algorithms/routes/trails_db/streams/
runify/algorithms/routes/act_fetch.py
runify/algorithms/routes/activities.json
runify/algorithms/routes/trails_db/raw/
runify/algorithms/routes/automation.py
runify/algorithms/routes/__pycache__/
runify/algorithms/routes/trails_db/way
runify/algorithms/phys_metrics/activities_output.csv
runify/algorithms/phys_metrics/act_save.json
runify/algorithms/phys_metrics/old/calculator.py
runify-api-tenative/
*.pkl
*.h5
*.db
runify/algorithms/routes/hugging_face_test.py
runify/algorithms/phys_metrics/artifacts/
